<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="float.css">
</head>
<body>
  <h1>Simple float example</h1>

  <h2>Clear simple</h2>
  <div class="box">Float</div>
  
  <p class="special">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus aliquam dolor, eu lacinia lorem placerat vulputate. Duis felis orci, pulvinar id metus ut, rutrum luctus orci. Cras porttitor imperdiet nunc, at ultricies tellus laoreet sit amet. </p>
      
  <p class="cleared">Sed auctor cursus massa at porta. Integer ligula ipsum, tristique sit amet orci vel, viverra egestas ligula. Curabitur vehicula tellus neque, ac ornare ex malesuada et. In vitae convallis lacus. Aliquam erat volutpat. Suspendisse ac imperdiet turpis. Aenean finibus sollicitudin eros pharetra congue. Duis ornare egestas augue ut luctus. Proin blandit quam nec lacus varius commodo et a urna. Ut id ornare felis, eget fermentum sapien.</p>
  
  <p>Nam vulputate diam nec tempor bibendum. Donec luctus augue eget malesuada ultrices. Phasellus turpis est, posuere sit amet dapibus ut, facilisis sed est. Nam id risus quis ante semper consectetur eget aliquam lorem. Vivamus tristique elit dolor, sed pretium metus suscipit vel. Mauris ultricies lectus sed lobortis finibus. Vivamus eu urna eget velit cursus viverra quis vestibulum sem. Aliquam tincidunt eget purus in interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

  <h2>Clear Wrapper</h2>
  <div class="wrapper">
    <div class="box">Float</div>
  
  <p class="special">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus aliquam dolor, eu lacinia lorem placerat vulputate. Duis felis orci, pulvinar id metus ut, rutrum luctus orci. Cras porttitor imperdiet nunc, at ultricies tellus laoreet sit amet. </p>
  </div>
  <p class="cleared">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum non suscipit iure sapiente nemo iste, officiis ipsa enim ab nihil tempore illo labore, quae itaque in autem dolor voluptate quo?
  Eaque earum quia hic dignissimos, aut inventore, iusto asperiores cumque debitis aspernatur quidem saepe? Doloremque reprehenderit necessitatibus soluta modi velit ex mollitia, animi, aspernatur neque repellat quisquam fuga totam quas.
  Illo totam odit officia sed magnam voluptatem quasi! Eum, ipsam? Aliquid consectetur officia iusto necessitatibus aliquam quod at eligendi qui temporibus corrupti in molestias similique quisquam, voluptate dolore veritatis error.
  Laudantium, praesentium repudiandae. Molestias rem possimus eligendi perspiciatis. Ex, error sapiente? Numquam a, voluptate enim quibusdam nam libero quisquam dolorum neque magni incidunt laborum deserunt expedita obcaecati voluptates? Numquam, quasi.
  Deserunt nisi rerum accusamus sapiente assumenda, voluptates omnis repellat quia nobis. Praesentium distinctio earum iste similique eveniet, possimus deleniti, laudantium voluptatem eius tenetur recusandae temporibus unde sequi rem hic illum!</p>
</body>
</html>