<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>CSS Grid starting point</title>
<link rel="stylesheet" href="grid.css">
</head>

<body>
    <h1>Simple grid example</h1>

    <div class="container">
        <div>One Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo nobis illo consectetur nostrum iste odit neque, quasi nesciunt quisquam tenetur pariatur officiis ipsa ratione. Quam magni atque exercitationem? Assumenda, possimus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod a voluptates ea iste dolor nulla sint commodi consequatur nostrum, sit quos impedit placeat enim, molestiae debitis amet eum odit dicta?
        Fugiat quod facilis eligendi earum obcaecati ut provident officiis ipsa fugit. Quis, modi blanditiis explicabo non quia, possimus, facere illo corporis hic dolor eaque. Vitae, odio maxime! Molestias, autem doloremque?
        Ipsa vitae sequi omnis fuga sed quo aliquam? Saepe natus, accusantium illum tempora minima excepturi temporibus vero rem doloribus perspiciatis neque enim aliquam similique dolores fugiat delectus. Nostrum, quo maxime.
        Nulla excepturi provident numquam, inventore consequuntur corporis? Perferendis perspiciatis saepe repellat, asperiores placeat maxime veritatis qui vero nam! Ex velit voluptas magnam amet, commodi ea ullam accusantium adipisci labore maxime!
        Perspiciatis, consequuntur excepturi repellendus cumque quae nesciunt doloribus quibusdam aut mollitia aliquam veritatis maiores maxime eum, distinctio in voluptatibus voluptatum rerum consequatur. Sit veniam maxime minus accusamus cumque nihil sunt!
        Unde similique obcaecati natus? Autem nostrum a dolor illo culpa vero perspiciatis ullam sapiente dicta. Ipsa assumenda sed libero repudiandae nostrum sunt enim ullam, doloribus unde laudantium? Quae, in aperiam?
        Sunt deleniti quo reiciendis nemo quidem optio, accusantium accusamus voluptates obcaecati deserunt, sapiente sequi voluptas qui atque facere velit error provident nulla neque doloribus sed iusto amet magni eveniet. Similique!
        Nemo repellendus, commodi sequi dolores odio est officia, autem laborum ducimus veniam ipsam eligendi totam voluptate aperiam cumque tenetur neque molestias, quisquam possimus inventore ex. Similique excepturi eligendi fuga repudiandae.
        Tempore porro deleniti corporis quis quidem soluta voluptatibus quo autem, facilis at earum laudantium repudiandae? Nemo magni rem provident error totam vitae nulla dolor. Velit odit delectus molestias exercitationem nemo.
        Consequuntur, libero est? Non eaque iure officia vero. Ipsum, repellendus debitis, velit enim eligendi odio quidem magnam, numquam quis provident sint repudiandae itaque ea blanditiis dolor consequatur quisquam. Placeat, at!</div>
        <div>Two</div>
        <div>Three</div>
        <div>Four</div>
        <div>Five</div>
        <div>Six</div>
        <div>Seven</div>
    </div>
<hr>
    <div class="adaptable-grid">
      <div>One</div>
      <div>Two</div>
      <div>Three</div>
      <div>Four</div>
      <div>Five</div>
      <div>Six</div>
      <div>Seven</div>
  </div>

</body>

</html>
© 2020 GitHub, Inc.