<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Normal Flow</title>
  <link rel="stylesheet" href="position.css">
</head>

<body>
  <h1>Static</h1>
  <p class="static">
    <strong>Static</strong> ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nam dolor perferendis
    dolorum magni repudiandae eum. Aut repellat id nam sequi, ab, accusamus consequuntur odit esse nostrum repudiandae
    quod laboriosam.
    Accusamus error ex est. Neque, enim sint beatae totam eveniet perspiciatis, atque eum provident architecto eius
    eligendi. Quos eum tempora, nobis optio, vel autem blanditiis exercitationem pariatur ullam temporibus rem.
    Vero earum similique hic voluptatem adipisci ad quaerat vel cum natus sunt, maiores ab sequi nam debitis nostrum
    placeat repellat quas vitae aliquam saepe nemo ducimus eaque. Aperiam, laborum velit.
  </p>

  <h1>Relative</h1>
  <p class="relative">
    <strong>Relative</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nam dolor
    perferendis dolorum magni repudiandae eum. Aut repellat id nam sequi, ab, accusamus consequuntur odit esse nostrum
    repudiandae quod laboriosam.
    Accusamus error ex est. Neque, enim sint beatae totam eveniet perspiciatis, atque eum provident architecto eius
    eligendi. Quos eum tempora, nobis optio, vel autem blanditiis exercitationem pariatur ullam temporibus rem.
    Vero earum similique hic voluptatem adipisci ad quaerat vel cum natus sunt, maiores ab sequi nam debitis nostrum
    placeat repellat quas vitae aliquam saepe nemo ducimus eaque. Aperiam, laborum velit.
  </p>
  <h1>Absolute</h1>
  <div class="absolute-container">
    <p class="absolute">
      <strong>Absolute</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nam dolor
      perferendis dolorum magni repudiandae eum. Aut repellat id nam sequi, ab, accusamus consequuntur odit esse nostrum
      repudiandae quod laboriosam.
      Accusamus error ex est. Neque, enim sint beatae totam eveniet perspiciatis, atque eum provident architecto eius
      eligendi. Quos eum tempora, nobis optio, vel autem blanditiis exercitationem pariatur ullam temporibus rem.
      Vero earum similique hic voluptatem adipisci ad quaerat vel cum natus sunt, maiores ab sequi nam debitis nostrum
      placeat repellat quas vitae aliquam saepe nemo ducimus eaque. Aperiam, laborum velit.
    </p>

  </div>

  <h1>Z-index</h1>
  <div class="z-index">
    <p><strong>Z-index = 2</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, nam velit quam fugiat id magnam doloribus optio architecto eaque consequuntur voluptate autem, quos facilis explicabo asperiores fugit totam perferendis omnis.Dolorum assumenda ex dicta sint, necessitatibus numquam, molestias soluta, fugit in nulla facere quaerat. Illum ad deserunt ullam odio! Doloribus facere animi vitae ullam impedit neque non magnam doloremque soluta?</p>
    <p><strong>Z-index = 1</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, architecto assumenda ut repellendus, beatae vitae voluptas ipsa nam deserunt error et dolor, ipsam itaque quis nihil facilis. Suscipit, at aperiam.
    Animi earum tempore delectus? Id nam sit incidunt quo? Amet quibusdam, aliquid dolor praesentium ipsam possimus. Dolore doloremque officiis exercitationem tempora porro necessitatibus. Molestiae optio, asperiores facere atque itaque iure.
    Velit sit deleniti labore, blanditiis sequi quod distinctio illum natus vitae rerum, dolorum obcaecati fuga iure perferendis culpa architecto quaerat cumque? Atque fugiat nisi ad laborum ab dicta at tempore.</p>
  </div>

  <h1 class="fixed">Fixed</h1>

  <h1>Sticky</h1>
  <div class="sticky-wrapper">
    <div class="sticky">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore, ea! Nulla nemo, ipsum aut sequi at laboriosam? Magnam dicta tempora a possimus explicabo. Alias non voluptates modi illo exercitationem molestias.</div>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro perspiciatis, molestias error minima dignissimos eveniet impedit architecto blanditiis quos id quidem excepturi unde ab, nostrum soluta enim obcaecati aperiam eaque?
    Voluptatibus blanditiis tempora id dolor veritatis animi repudiandae sapiente eveniet consectetur officia dolorem, consequatur itaque mollitia in culpa iure impedit explicabo laboriosam porro ad laudantium expedita. Nemo veniam voluptatum excepturi.
    Sapiente, deleniti vitae! Error, dolorem eum optio sapiente quibusdam recusandae aliquam similique facilis, laudantium totam neque architecto id nihil ex facere quaerat doloribus, cum sequi consectetur necessitatibus veritatis fugiat amet?
    Quasi sapiente optio eaque aliquam inventore dolor unde numquam quam aliquid earum. Obcaecati ex cumque facilis culpa accusamus soluta blanditiis neque voluptatem autem praesentium illo laudantium ipsum, placeat impedit itaque.
    Neque ea quidem omnis unde, atque tempora odio sequi assumenda corrupti. Aperiam doloremque, eveniet facere in corrupti inventore impedit accusamus quae quam hic temporibus quia expedita nisi eaque optio! Fugiat?
    Cum eaque libero tempore, reprehenderit assumenda, autem nihil repellat in molestias quam nam quod quisquam voluptatibus nulla sit laboriosam sint? Doloribus minima optio nam corporis necessitatibus facere illo itaque laudantium.
    Illo omnis vel quidem distinctio. Fuga dignissimos ducimus corrupti velit corporis asperiores vero repudiandae, est minus ipsam eum sit id. Distinctio ipsam delectus blanditiis laborum asperiores cupiditate exercitationem aut ipsa.
    Incidunt omnis accusamus exercitationem dicta labore, ea et vitae quia. Voluptatibus enim deserunt assumenda quae ipsum reiciendis similique magni molestiae maxime impedit vel recusandae temporibus voluptatum, totam sed quas hic!
    Quam, recusandae? Accusamus aliquid officia dolores dicta magnam commodi rem! Facilis assumenda nihil, facere modi consequuntur quam magnam ipsum pariatur est error consectetur, quibusdam eius id itaque dicta? Numquam, libero!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem mollitia dolorem porro a veniam accusantium inventore atque nemo quisquam, quod ratione, similique ipsa quis consectetur sunt consequatur, veritatis reiciendis vel!
    Consequuntur doloribus ipsam mollitia quasi placeat ad, quia nam iste exercitationem beatae ducimus repudiandae fugiat animi necessitatibus officia in provident quisquam atque voluptatum perspiciatis nisi id. Doloremque totam voluptatibus aliquid?
    Sint assumenda quo sunt illo quam repellat dolore dolorem eius. Blanditiis adipisci inventore ullam facilis iste officiis voluptatem illo, deleniti, voluptate accusamus, nemo et molestias aspernatur fugiat omnis. Sunt, nostrum?
    Totam excepturi voluptate blanditiis provident harum, dolorum reprehenderit autem unde quo nemo temporibus ea dolor nisi aut. Ad, itaque. Delectus sequi et modi praesentium placeat molestias porro dicta ea blanditiis!
    Autem quas quidem ab facere facilis voluptatem odit, earum minima amet saepe, velit reprehenderit labore in fugit! Necessitatibus, veritatis itaque, quibusdam at magnam porro, repudiandae rem nisi animi sit consectetur?
    Soluta consectetur beatae quasi distinctio laudantium voluptas perspiciatis veritatis reiciendis! Maxime, voluptas? Molestiae odio mollitia facilis natus, tenetur atque rerum consequuntur blanditiis unde suscipit tempora aspernatur odit quae, in iure?
    Beatae ipsam maxime dicta eligendi, quae quasi autem esse, quis aliquid officiis minima, dignissimos porro sequi rerum? Tenetur quo, similique ducimus mollitia minima, sit beatae error quos reiciendis fugit facilis.
    Illo accusantium doloribus reprehenderit officia, aspernatur odio deserunt totam voluptate, beatae dolorem nihil ut nulla! Dolores animi vel magni? Illum, dolor! Tempora aliquam maxime magnam iste pariatur, autem velit laudantium?
    Accusamus necessitatibus optio hic? A, velit libero quidem at ad consequatur perspiciatis omnis, quae inventore mollitia eius quos minima commodi distinctio laborum reprehenderit explicabo aliquid non quod. Illum, sequi consequatur!
    Dolor quis dolorum corrupti nostrum illum repudiandae ut, ipsum voluptatibus explicabo officiis pariatur esse dicta illo laudantium saepe, nobis itaque voluptate ullam! Saepe a beatae voluptatem commodi architecto magnam natus?
    Quisquam nobis illo sequi assumenda fuga iste error ut totam laborum nisi, velit ipsum ab beatae voluptatum autem soluta maiores corrupti provident veniam mollitia iure quod fugiat quam. Fugiat, autem.
    Officiis harum dolorem deserunt, repudiandae fugiat nulla itaque voluptatem aspernatur tempore? Ullam, aliquam perspiciatis. Vitae quam libero numquam praesentium aperiam, sed soluta, reprehenderit quibusdam voluptatum deserunt, magni eius sint quod.
    Veniam similique aperiam explicabo illo aliquid praesentium illum doloribus, fuga voluptatum nemo in veritatis quos amet beatae minus facilis quam reiciendis. Praesentium ipsa laboriosam accusantium optio nemo tenetur nesciunt voluptatem.
    Reprehenderit rem veritatis ea distinctio molestias tenetur suscipit fugiat quam recusandae, facere optio. Officiis rerum enim, cum voluptas eius voluptates corrupti consequuntur nam vel praesentium cupiditate laboriosam minus maiores distinctio.
    Atque voluptates nulla harum sint, nam et voluptatum vitae officia doloremque! Esse delectus natus perferendis odio vero. Harum sequi exercitationem cupiditate placeat expedita iure beatae sed aliquam. Porro, molestiae harum.
    Autem labore ipsum nemo minus praesentium iure obcaecati consequatur quod dignissimos consectetur, inventore aspernatur ad sequi similique totam, ullam sapiente sunt officia placeat itaque deleniti cupiditate at corrupti nihil. Exercitationem?
    Nesciunt, veniam a aperiam ducimus omnis autem quae earum accusantium maiores reiciendis hic vel architecto nam! Amet minus laboriosam aspernatur voluptates ab, soluta, nesciunt consequatur atque, vero repellat vel obcaecati?
    Asperiores ipsam perspiciatis dolorem minus facere! Perferendis eligendi illum eius veritatis ipsa culpa nisi, facere exercitationem a cumque voluptatum et pariatur illo fugiat eum rerum officiis delectus autem neque ipsum?
    Non assumenda consequatur itaque laborum molestiae, inventore ipsa quaerat quos molestias laudantium at veniam? Pariatur deserunt voluptates assumenda, suscipit repudiandae deleniti modi enim nisi dignissimos quis tenetur eum quidem recusandae.
    Earum possimus autem laborum qui voluptas eligendi repellat dolore quidem. Provident aliquid, aspernatur dolor harum facere omnis deserunt ducimus doloribus beatae doloremque iure, delectus velit rerum ipsam labore, nostrum reiciendis!
  </p>
</div>
</body>

</html>