<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive</title>
    <link rel="stylesheet" href="responsive.css">
</head>
<body>
    <div class="wrapper">
      <header>
        <nav>
          <ul>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Meet the team</a></li>
            <li><a href="">Blog</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <article>
          <div class="content">
            <h2>content</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui at incidunt sit molestias culpa. Aspernatur totam dolor exercitationem, consequatur voluptate tempore est architecto maiores aliquam eius culpa facere? Voluptate, exercitationem!
              Quas vero, laudantium quis dolores repudiandae accusantium facilis repellat, nam nulla assumenda labore a vel ducimus ad placeat excepturi modi asperiores hic, quibusdam fuga error? Nulla dolores nobis voluptate minima?
              Quam dolorem esse totam, vero nesciunt praesentium et dolores veniam architecto blanditiis tempore dolorum doloremque eum quasi impedit, unde deserunt est sunt nobis. Quo obcaecati aperiam inventore ad consequuntur ratione.
              Facere cumque enim incidunt sapiente at consequuntur, corporis, atque sunt qui sit non modi laboriosam id eius debitis sed dolorum placeat pariatur quia sequi est voluptate. Accusantium voluptatum officiis repellendus.
              Eligendi, quia. Aut eveniet adipisci et ipsa aliquam doloribus, numquam officia voluptates incidunt assumenda tempora unde minima velit vero earum impedit id ex sed facere odit omnis saepe! Deleniti, ducimus.
              Culpa veniam eveniet itaque amet voluptas cupiditate temporibus! Nulla quam ipsa temporibus? Tenetur asperiores cum quos est facere quo, distinctio suscipit praesentium accusantium laudantium quia in vitae nemo ea provident.
              Earum harum dolorum explicabo, odio aut rerum impedit provident velit minus, laboriosam consectetur temporibus culpa vel at, cum corporis quod repellendus iure eos perferendis labore! Ex quia maiores repellendus a?
              Dolorem itaque eum consequatur. Suscipit, aspernatur ad nostrum consectetur maxime dolores, blanditiis porro nihil accusamus minus, distinctio quia officiis? Nisi et similique modi qui aliquam est esse. Odit, amet magnam?
              Eos aliquid exercitationem quaerat minus voluptatibus explicabo incidunt beatae suscipit obcaecati, iste praesentium! Hic ipsam rem distinctio, amet perferendis quasi, et nam beatae laboriosam obcaecati fugit est facilis non quod?
              Dolorum deserunt aut totam expedita sapiente numquam ea quae sit iste, ad omnis consectetur debitis, amet placeat, quidem quasi iusto voluptatum officiis sint blanditiis nulla harum ex eligendi. Incidunt, accusantium.
            </p>
          </div>
          <aside class="related">
            <h2>Related</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad excepturi qui magni fuga numquam exercitationem eum quisquam assumenda vero cupiditate, quod aperiam laboriosam, eaque facilis placeat, voluptate necessitatibus ipsum voluptates.
              Qui accusantium nesciunt pariatur! Ducimus consectetur nam itaque quo molestiae laborum numquam explicabo provident accusantium consequuntur quas maxime eligendi, quod quisquam minima et error velit earum! Quos enim autem iure?
              Nostrum obcaecati laboriosam expedita, suscipit voluptatum iste! Voluptatem quasi ipsum iste ex laudantium aperiam numquam facere culpa, laborum corrupti alias velit cumque, temporibus cum eius est? Veritatis, deserunt porro? Ullam?
              Commodi, tempore soluta corporis facere ipsam, minima vel dicta aperiam reprehenderit praesentium sint blanditiis molestias natus quisquam eaque nesciunt perferendis magni, ducimus enim? Aliquam vel ullam sapiente, excepturi iure animi?
              Sequi, ex qui? Excepturi sunt consequatur incidunt eos error hic, nihil iure, culpa architecto corporis quae porro nostrum quaerat molestiae ab inventore, ad fugiat delectus ullam tenetur totam? Suscipit, repellendus.
            </p>
          </aside>
        </article>

        <aside class="sidebar">
          <h2>Sidebar</h2>
          <ul>
            <li>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat, quo perspiciatis! Dolores voluptas harum velit vel neque eligendi, assumenda tenetur, magnam laudantium sapiente officia ducimus rem repudiandae. Eligendi, reiciendis recusandae.
              Dolores nobis doloribus praesentium nisi numquam, accusamus architecto laboriosam amet. Consequuntur harum quis sed vero, quia amet facilis quibusdam sit reiciendis ad iure! Animi ducimus, aut voluptas eius dignissimos ullam?
              Rem quo hic consectetur molestiae minus sint eligendi eius architecto dolorem exercitationem nobis voluptate, maiores, accusantium quis asperiores quibusdam ad laudantium id perferendis officia cumque! Aliquid quam consequatur unde tenetur!
            </li>
          </ul>
        </aside>
      </main>

      <footer><p>&copy;2020</p></footer>
    </div>
  </body>
</html>